// Firebase configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=
// SendGrid configuration
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
// Secret key used to sign/verify JWTs
JWT_SECRET=
// Frontend URL for CORS configuration
FRONTEND_URL=
// Database URL for NeonDB
NEON_DATABASE_URL=
// API key used by the chatbot
GOOGLE_GENERATIVE_AI_API_KEY=